@import "Mixins";
.item{
  @include flex;
  @include flex-direction(column);
  @include flex-align-content(center);
  @include flex-justify-content(center);
  @include flex-align-items(center);
  @include unselected;
  width: 6rem;
  height: 6rem;
  margin: 0.2rem;
  padding: 0.1rem;
  cursor: default;
}
.item > .field{
  width: 5.8rem;
  font-size: 0.8rem;
}
.item:hover{
  @include box-shadow-inset(0px, 0px, 1px, 1px,rgba(25, 25, 25, 0.5));
}