@import "Mixins";
.files{
width: 100%;
overflow-y: auto;
}
.ghost{
  opacity: 0.3;
}

.level{
  @include unselected;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.level:hover{
  font-weight: bold;
}

.table-list{
  height: 95%;
  width: 100%;
  @include flex;
  @include flex-wrap(wrap);
  @include flex-direction(column);
  @include flex-justify-content(flex-start);
  @include flex-align-content(center);
  @include flex-align-items(center);
}

.detail{
  border-left: rgba(115, 113, 119, 0.9) 1px solid ;
  width: 115px;
  height: 100%;
  padding-right: 2px;
  @include flex;
  @include flex-wrap(nowrap);
  @include flex-direction(column);
  @include flex-justify-content(flex-start);
  @include flex-align-items(center);
}

.tag{
  margin: 1px;
}
.tagctrl>button{
  width: 45%;
  font-weight: 700;
}

.context{
  position: absolute;
  z-index: 10000;
  background: white;
}




