@mixin flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction($direction){
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap){
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex-justify-content($direction){
  -webkit-justify-content: $direction;
  justify-content: $direction;
}
@mixin flex-align-items($direction){
  -webkit-align-items: $direction;
  align-items: $direction;
}
@mixin flex-align-content($direction){
  -webkit-align-content: $direction;
  align-content: $direction;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($x,$y,$blur,$spread,$color){
  -webkit-box-shadow:  $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}
@mixin box-shadow-inset($x,$y,$blur,$spread,$color){
  -webkit-box-shadow:  $x $y $blur $spread $color inset;
  -moz-box-shadow: $x $y $blur $spread $color inset;
  box-shadow: $x $y $blur $spread $color inset;
}
@mixin unselected{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@mixin animate{
    animation: animationFrames linear 0.1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;

  @keyframes animationFrames{
    0% {
      transform:  scaleX(0.00) ;
    }
    100% {
      transform:  scaleX(1.00) ;
    }
  }

  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  scaleX(0.00) ;
    }
    100% {
      -moz-transform:  scaleX(1.00) ;
    }
  }

  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  scaleX(0.00) ;
    }
    100% {
      -webkit-transform:  scaleX(1.00) ;
    }
  }

  @-o-keyframes animationFrames {
    0% {
      -o-transform:  scaleX(0.00) ;
    }
    100% {
      -o-transform:  scaleX(1.00) ;
    }
  }

  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  scaleX(0.00) ;
    }
    100% {
      -ms-transform:  scaleX(1.00) ;
    }
  }
}