@import "Mixins";
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.5) !important;
}
.modal{
  position: absolute;
  z-index: 50000;
  width: 50%;
  top: 30%;
  left: 25%;
  @include flex;
  @include flex-direction(column);
  @include flex-justify-content(space-between);
}
.bigmodal{
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.image{
  width: 80%;
  height: 80%;
  background: no-repeat center;
  background-size: contain;
}
.controls{
  @include flex;
  @include flex-direction(row);
  @include flex-justify-content(space-between);
}
textarea{
  width: 100% !important;
  height: 80% !important;
}
