.nav-component{

}
.Z-menu{
  position: absolute;
  z-index: 10000;
  background: #e6e6e6
}

.red{
  box-shadow: 0 0 3px 3px rgba(217, 83, 79, 0.81);
}
.blue{
  box-shadow: 0 0 3px 3px rgba(91, 192, 222, 0.81);
}
