@import "Mixins";
.search-component{
}

.result-list{
  max-height: 60%;
  overflow: auto;
  padding: 0 !important;
  @include flex;
  @include flex-wrap(nowrap);
  @include flex-direction(column);
  @include flex-justify-content(flex-start);
  @include flex-align-items(stretch);
}
.search-result-item{
  min-height: 1.5rem;
  cursor: default;
  padding: 0.3rem;
  font-size: 0.9rem;
  background: white;
  @include border-radius(2px);
  @include flex;
  @include flex-wrap(nowrap);
  @include flex-direction(row);
  @include flex-justify-content(space-between);
  @include flex-align-items(stretch);
}
.settings{
  @include flex;
  @include flex-wrap(wrap);
  @include flex-direction(row);

}

.search-result-item:hover{
  background: #e6e6e6;
}