@import "Mixins";
.uploadbutton{
  padding: 0 !important;
  height: 40px;
}
.uploadlabel{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: transparent;
}
.uploader{
  width: 100%;
  height: 40px;
  @include flex;
  @include flex-direction(column);
  @include flex-justify-content(center);
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}
.uploadtext{
  @include flex;
  @include flex-direction(row);
  @include flex-justify-content(center);
}
.custom-file-control{
  border: 0;
}