@import "Mixins";
.video-js {
  font-size: 10px;
  color: #fff;
}
.vjs-default-skin .vjs-big-play-button {
  font-size: 2em;
  line-height: 1.5em;
  height: 1.5em;
  width: 5em;
  border: 0;
  left: 50%;
  top: 50%;
  margin-left: -2.5em;
  margin-top: -0.75em;
}
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: #2B333F;
  background-color: rgba(43, 51, 63, 0.7);
}
.video-js .vjs-slider {
  background-color: #73859f;
  background-color: rgba(115, 133, 159, 0.5);
}
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #fff;
}
.video-js .vjs-load-progress {
  background: rgba(115, 133, 159, 0.5);
}
.video-js .vjs-load-progress div {
  background: rgba(115, 133, 159, 0.75);
}
.video-component{
}
.player{
  width: 100%;
  height: 75%;
}
.playlist{
  @include flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  overflow: auto;
}
#Player{
  width: 100%;
  height: 100%;
}
.video-item{
  padding: 0 !important;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}





