<div class="fm-component row expanded" style="padding-top: 0.5rem;padding-left: 0.5rem">
    <div class="small-8 medium-9 large-9 columns">
        <div class="row small callout">
            <ul class="breadcrumbs columns row align-center align-middle">
                <li *ngFor="let item of fms.fullPath; let i = index" (click)="fms.toLevel(i+1)" class="breadcrumb-item active level">{{item?.name}}</li>
            </ul>
            <div class="shrink columns">
                <button (click)="fms.view='table'" class="btn btn-sm btn-outline-secondary"><i class="text fa fa-th-list"></i></button>
                <button (click)="fms.view='plate'" class="btn btn-sm btn-outline-secondary"><i class="text fa fa-th-large"></i></button>
            </div>
        </div>
        <div *ngIf="fms.view=='plate'" class="row" >
            <file-plate-component *ngFor="let item of fms.currentList" [item]="item" (click)="fms.selectItem($event,item)" ></file-plate-component>
        </div>
        <div *ngIf="fms.view=='table'">
            <file-line-component *ngFor="let item of fms.currentList" [item]="item" (click)="fms.selectItem($event,item)" ></file-line-component>
        </div>
    </div>
    <div  class="small-4 medium-3 large-3 columns" >
        <dropdown-component [menu]="menu" [title]="'Actions'" [icon]="'fa fa-superpowers'" ></dropdown-component>
        <file-info-component *ngIf="fms.selected.length==1" [item]="fms.selected[0]"></file-info-component>
        <span  id="progress"><progress-bar [progress]="progress"></progress-bar></span>
        <div *ngIf="fms.selected.length>1" class=" small callout expanded field">{{fms.selected.length}} selected</div>
        <div class="callout small" *ngIf="fms.buffer.list.length>0">
            <h6>Buffer</h6>
            <div *ngFor="let item of fms.buffer.list" class="label expanded field tag">{{item?.name}}</div>
            <button (click)="fms.clearBuffer()" class="button primary hollow expanded">Clear buffer</button>
        </div>
    </div>

</div>
<input-modal-component *ngIf="modal.visible" [modal]="modal"></input-modal-component>
<input #uploader type="file" name="files"  (change)="fms.sendFiles($event)" multiple style="display: none"/>

