<div  class="overlay">
    <div  class="callout small  modal bigmodal" >
        <h6><span class="fa fa-image" style="margin-right: 1rem"></span><b>{{imgModal.img.name}}</b></h6>
        <div style="display: flex;align-content: center; justify-content: center">
            <div class="image" [ngStyle]="{'background-image':'url(' + fms.getLink(imgModal?.img) + ')'}" ></div>
        </div>
        <div class="controls">
            <button (click)="previous()" class="button hollow primary ">Previous</button>
            <button (click)="close()" class="button hollow primary ">Close</button>
            <button (click)="next()" class="button hollow primary ">Next</button>
        </div>
    </div>
</div>