<div class="nav-component top-bar row expanded">
    <div class="small-3 medium-2 large-2 columns">
        <dropdown-component [menu]="menu" [title]="'Menu'" [icon]="'fa fa-bars'"></dropdown-component>
    </div>

    <div class="small-4 medium-2 large-2 columns text-center">
        <i style="margin-right:2px; font-size: 0.9rem" class="{{currentIcon}} ">{{currentPosition}}</i>
    </div>

    <div class="small-5 medium-4 large-4  columns">
        <search-component></search-component>
    </div>
</div>