<div>
    <div *ngIf="!profile.avatar" class="warning small callout   align-center align-middle avatar cursor-default"><b class="column text-center">{{initials}}</b></div>
    <a *ngIf="profile.avatar" class="small callout   align-center align-middle thumbnail cursor-default"><img src="{{profile?.avatar}}"></a>
    <div class="small secondary  callout expanded">
        <div class="callout small" style="display: flex">
            <span class="small-3 medium-3 large-3 align-self-middle columns zero-padding" ><b style="font-size: 0.7rem">Login:</b></span>
            <span class="small-7 medium-7 large-7 align-self-middle columns" ><b>{{profile?.username}}</b></span>
        </div>
        <div class="callout small" style="display: flex">
            <div class="small-3 medium-3 large-3  align-self-middle columns field zero-padding" ><b style="font-size: 0.7rem">Name:</b></div>
            <div class="small-7 medium-7 large-7  align-self-middle columns field"><b>{{profile?.name}}</b></div>
            <span *ngIf="editeble" (click)="editName()" class="small-2 medium-2 large-2  fa fa-edit button tiny columns">Edit</span>
        </div>
        <div class="callout small" style="display: flex">
            <div class="small-3 medium-3 large-3  align-self-middle columns field zero-padding" ><b style="font-size: 0.7rem">Surname:</b></div>
            <div class="small-7 medium-7 large-7  align-self-middle columns field"><b>{{profile?.surname}}</b></div>
            <span *ngIf="editeble" (click)="editSurname()" class="small-2 medium-2 large-2  fa fa-edit button tiny columns">Edit</span>
        </div>
        <div class="callout small" style="display: flex">
            <div class="small-3 medium-3 large-3  align-self-middle columns field zero-padding" ><b style="font-size: 0.7rem">Avatar:</b></div>
            <div class="small-7 medium-7 large-7  align-self-middle columns field"><b>{{profile?.avatar}}</b></div>
            <span *ngIf="editeble" (click)="editAvatar()" class="small-2 medium-2 large-2  fa fa-edit button tiny columns">Edit</span>
        </div>
        <div class="callout small" style="display: flex">
            <div class="small-3 medium-3 large-3  align-self-middle columns field zero-padding"><b style="font-size: 0.7rem">Email:</b></div>
            <div class="small-7 medium-7 large-7  align-self-middle columns field"><b>{{profile?.email}}</b></div>
        </div>
        <div class="callout small" style="display: flex">
            <div class="small-3 medium-3 large-3  align-self-middle columns zero-padding"><b style="font-size: 0.7rem">Volume:</b></div>
            <div class="progress small-9 medium-9 large-9" data-toggle="tooltip" title="{{profile?.engaged}}/{{profile?.quota}} : {{volume}}">
                 <span class="progress-meter" [style.width]="volume+'%'">
                    <p *ngIf="volume>15" class="progress-meter-text">{{volume}}%</p>
                 </span>
            </div>
        </div>

        <button *ngIf="showtools" (click)="edit()" class="button primary hollow expanded">Edit</button>
        <button *ngIf="showtools" (click)="logout()" class="button primary hollow expanded">Logout</button>
    </div>
    <input-modal-component *ngIf="modalInput.visible" [modal]="modalInput"></input-modal-component>
</div>