<div #container class="search-component">
    <div #input class="input-group " style="margin: 0 !important;">
        <input class="input-group-field"
               (focus)="closeSettings();openAuto()"
               (keydown)="keyListener($event)"
               (input)="sendRequest()"
               [(ngModel)]="SearchQuery"
               type="search" placeholder="Search">
        <span *ngIf="SearchQuery.length>0"
              (click)="SearchQuery='';SearchResult=[];closeAuto();closeInfo();closeSettings();"
              class="input-group-label cursor-pointer fa fa-close" style="background: white"></span>
        <div class="input-group-button" style="background: white">
            <button (click)="openSettings()" type="button" class="button secondary fa fa-cogs"></button>
        </div>
    </div>
    <div *ngIf="isAutoOpen" class="result-list callout small" [style.left]="ListStyle?.Left"
         [style.width]="ListStyle?.Width" style="position: absolute; z-index: 10000;">
        <div *ngIf="orderStack" class="search-result-item" [style.width]="ListStyle?.Width"><i
                class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
        <div #list *ngFor="let line of SearchResult;let i = index" class="search-result-item" id="{{i}}"
             [class.selected]="selectedIndex==i" (click)="openInfo(line,$event,i)">
            <search-line [item]="line"></search-line>
        </div>
    </div>
    <div *ngIf="isSettingsOpen" class="callout small settings" [style.left]="ListStyle?.Left"
         [style.width]="ListStyle?.Width" style="position: absolute; z-index: 10000;">
        <div class="small-5 medium-4 large-4 columns">
            <label>Entity type
                <select [(ngModel)]="type">
                    <option *ngFor="let item of types" value="{{item?.value}}">{{item?.name}}</option>
                </select>
            </label>
        </div>
        <div class="small-5 medium-4 large-4 columns">
            <label>Field type
                <select [(ngModel)]="field">
                    <option *ngFor="let item of getFields()" value="{{item}}">{{item}}</option>
                </select>
            </label>
        </div>
        <div class="small-5 medium-4 large-4 columns">
            <label>Limit
                <input type="number" [(ngModel)]="limit">
            </label>
        </div>
    </div>
    <div *ngIf="detail!=null"
         [style.top]="InfoStyle.Top"
         [style.left]="InfoStyle.Left"
         [style.width]="InfoStyle.Width"
         class="callout small"
         style="position: absolute;z-index: 10000">
        <file-info-component *ngIf="isPath(detail)" [item]="detail"></file-info-component>
        <profile-component *ngIf="isProfile(detail)" [profile]="detail"></profile-component>
    </div>
    <textarea-modal-component *ngIf="fms.editor?.visible" [editor]="fms.editor"></textarea-modal-component>
    <video-component *ngIf="fms.video"></video-component>
    <image-modal-component *ngIf="fms.imgModal?.visible" [imgModal]="fms.imgModal"></image-modal-component>
</div>


