<div  class="overlay">
<div  class="callout small modal bigmodal">
<div class="video-component ">
   <div class="player callout small">
       <video style="align-self: center; margin-right: 0.5%"  id="Player" class="video-js vjs-default-skin vjs-big-play-button" controls preload="auto" data-setup='{"playbackRates": [1, 2, 5]}'>
           <p class="vjs-no-js">
               To view this video please enable JavaScript, and consider upgrading to a web browser that
           </p>
       </video>
   </div>

   <div  class="playlist callout small">
     <div *ngFor="let video of vs.playlist" class="small-4 medium-2 large-2 columns video-item"   >
         <div [class.selected]="video?.play" class="button hollow small fa fa-play-circle field expanded cursor-pointer" (click)="play(video)" data-toggle="tooltip" title="{{video.name}}"> {{video.name}}</div>
         <div class="button-group tiny expanded " role="group">
             <button  class="button hollow small" (click)="left(video,vs.playlist)"><i class="fa fa-angle-left text"></i></button>
             <button  class="button hollow small" (click)="deleteFromPlaylist(video)" ><i class="fa fa-close text"></i></button>
             <button  class="button hollow small" (click)="right(video,vs.playlist)"><i class="fa fa-angle-right text"></i></button>
         </div>
     </div>
   </div>
</div>
<div class="controls">
    <button class="button hollow primary" (click)="vs.clearPlaylist();reset();">Clear</button>
    <button (click)="close()" class="button hollow primary">Close</button>
</div>
</div>
</div>